﻿@model List<string>
@{
    ViewBag.Title = "FOS-Admin";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Menu Master</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-user"></i>
                Menu Master
            </li>
            <li>
                <i class="icon-angle-right"></i>
                 Catagery
            </li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Catagery List</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <a href="~/Dish" class="btn purple">Menu DashBoard <i class="m-icon-swapleft m-icon-white"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="~/Dish/NewCatagery" class="btn green"> Add Catagery <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Catgery Name</th>
                        <th>&nbsp;</th>
                    </tr>
                    @if (Model.Count == 0)
                    { 
                        <tr>
                            <td colspan="3" align="center">No Data Available</td>
                        </tr>
                    }
                    else
                    {
                        foreach (string dc in Model)
                        {
                        <tr>
                            <td>@dc</td>
                            <td align='center'><a class='btn default btn-xs black' href='~/Dish/DeleteCatgery?catagery=@dc'><i class='icon-trash'></i>Delete</a></td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}