﻿@model List<e_ordering_system.Models.Prop_dishitems>
@{
    ViewBag.Title = "FOS-ADMIN";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Menu Master</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-user"></i>
                Menui Master
            </li>
            <li>
                <i class="icon-angle-right"></i>
                    Items
            </li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Item List</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <a href="~/Dish" class="btn purple"> Menu DashBoard <i class="m-icon-swapleft m-icon-white"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="~/Dish/NewItem" class="btn green"> Add Item <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <tr>
                        <th>Item Name</th>
                        <th>Item Prise</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    @if (Model.Count == 0)
                    { 
                        <tr>
                            <td colspan="5" align="center">No Data Available</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var dc in Model)
                        {
                        <tr>
                            <td>@dc.dsh_name</td>
                            <td >@dc.dsh_prise</td>
                            <td align="center">
                                <a class='btn default btn-xs purple' href='~/Dish/ItemUpdate?id=@dc.dsh_id'><i class='icon-edit'></i>Edit</a>
                            </td>
                            <td align="center">
                                <a class='btn default btn-xs black' href='~/Dish/DishItemDelete/@dc.dsh_id'><i class='icon-trash'></i>Delete</a>
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}