﻿@{
    ViewBag.Title = "FOS-Admin";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Menu Master</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-user"></i>
                Dish Master
            </li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-md-6 ">
        <div class="clearfix">
            <a href="~/Dish/Dishcatagery" class="btn blue btn-block btn-lg m-icon-big">
                Manage Catagery
                <i class="m-icon-big-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    
      <div class="col-md-6 ">
        <div class="clearfix">
            <a href="~/Dish/DishItem" class="btn blue btn-block btn-lg m-icon-big">
                Manage Item
                <i class="m-icon-big-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}