﻿@model List<KeyValuePair<int, string>>
@{
    ViewBag.Title = "FOS-Admin";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Menu Master</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-user"></i>
                Menu Master
            </li>
            <li>
                <i class="icon-angle-right"></i>
                Items
            </li>
            <li>
                <i class="icon-angle-right"></i>
                Update Item
            </li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>New Catagery</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" action="ItemUpdate" method="post">
                    <input type="hidden" name="dsh_id" value="@ViewData["dshid"]"/>
                    <div class="form-body">
                        <div class="alert alert-error display-hide">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Item Name :</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-medium" placeholder="dish name" name="dsh_name" value="@ViewData["dshname"]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Item Prise  :</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-medium" placeholder="dish prise" name="dsh_prise" value="@ViewData["dshprise"]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Customize On</label>
                            <div class="col-md-6 checkbox-list">
                                @if (Model.Count != 0)
                                {
                                    string[] ctp = ViewData["custyp"] as string[];
                                    foreach (var ct in Model)
                                    {
                                        <label>
                                            <input type="checkbox" value="@ct.Key" name="dsh_custtype" />
                                            @ct.Value
                                        </label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn blue">Update</button>
                        @*<button type="button" class="btn default">Cancel</button>*@
                        <a href="~/Dish/DishItem" class="btn default">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}

