﻿@{
    ViewBag.Title = "FOS-Admin";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">User Master</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-user"></i>
                User
            </li>
            <li>
                <i class="icon-angle-right"></i>
                New User
            </li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>New User</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body form">
                <form action="#" class="form-horizontal" action="NewUser" method="post">
                    <div class="form-body">
                        <div class="alert alert-error display-hide">
                            <button class="close" data-dismiss="alert"></button>
                            You have some form errors. Please check below.
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">User Name :</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-medium" placeholder="username" name="username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">User Type :</label>

                            <div class="col-md-6 radio-list">
                                <label>
                                    <input type="radio" name="userrole" id="chkwtr" value="waiter">
                                    Waiter
                                </label>
                                <label>
                                    <input type="radio" name="userrole" id="chkks" value="kitchenstaff">
                                    Kitchen Staff
                                </label>
                                <label>
                                    <input type="radio" name="userrole" id="chkbs" value="kitchenstaff">
                                    Billing Staff
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                           <button type="submit" class="btn blue">Submit</button>
                           <a href="~/User" class="btn default" >Back</a>                              
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}