﻿@model List<e_ordering_system.Models.Prop_UserModel>
@{
    ViewBag.Title = "FOS-ADMIN";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">User Master</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-user"></i>
                User
            </li>
            <li></li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Users List</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <a href="~/User/AddNew" class="btn green" data-toggle="modal">Add New <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <tr>
                        <th>Name</th>
                        <th>Role</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    @if (Model.Count == 0)
                    { 
                        <tr>
                            <td colspan="3" align="center">No Data Available</td>
                        </tr>
                    }
                    else
                    {
                        foreach (e_ordering_system.Models.Prop_UserModel mdl in Model)
                        {
                        <tr>
                            <td>@mdl.username</td>
                            <td>@mdl.userrole</td>
                            <td align='center'><a class='btn default btn-xs purple' href='#'><i class='icon-ok'></i>Active</a></td>
                            <td align='center'><a class='btn default btn-xs black' href='#'><i class='icon-trash'></i>Delete</a></td>
                        </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}