﻿@{
    ViewBag.Title = "NewUser";
}

<table width="900px" align="center" border="1">
    <tr>
        <td align="center" colspan="2">
            <a href="~/Home">
                <h2>User Managment</h2>
            </a>
        </td>
    </tr>

    <tr>
        <td align="center" width="200px">
            <a href="~/User">
                <h2>All User</h2>
            </a>
            <td align="center" width="700px">
                <form id="clientcreate" action="NewUser" method="post">
                    <table border="1" width="700px">
                        <tr>
                            <td width="40%" align="right">
                                UserName :
                            </td>
                            <td width="60%">
                                <input type="text" name="username" style="width:200px;padding:5px;font-family:'Times New Roman';font-size:14px;"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="40%" align="right">
                                User type :
                            </td>
                            <td width="60%" style="padding:5px">
                                <input type="radio" name="userrole" id="chkwtr" value="waiter"/> : Waiter
                                <input type="radio" name="userrole" id="chkks" value="kitchenstaff"/> : Kitchen Staff
                                <input type="radio" name="userrole" id="chkbs" value="billstaff"/> : Billing Staff
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="submit" value="submit" style="font-family:'Times New Roman';width:150px;height:30px;"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
    </tr>
</table>
