﻿@model List<e_ordering_system.Models.order>
@{
    ViewBag.Title = "FOS-KitchenStaff";
}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Order List</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body">
                @foreach (var odritm in @Model)
                {
                    <div class="well">
                        <table class="table table-bordered">
                            <tr>
                                <th>Dish Name</th>
                                <th>Quentity</th>
                                <th>ExtraNotes</th>
                                <th>Is Prepared</th>
                            </tr>
                            <tbody>
                                @foreach (var serviceitem in @odritm.servicelist)
                                {
                                    <tr>
                                        <td>@serviceitem.dishname</td>
                                        <td>@serviceitem.dishquentety</td>
                                        <td>@serviceitem.extranote</td>
                                        <td>

                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4">
                                        <a class="btn purple pull-right" href="#">Ready To Searve &nbsp;<i class="icon-share-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}