﻿@{
    ViewBag.Title = "Index";
}

<table width="900px" align="center" border="1">
    <tr>
        <td align="center" colspan="2">
            <a href="~/Home">
                <h2>Order Taking</h2>
            </a>
        </td>
    </tr>

    <tr>
        <td align="center" width="200px">
            <ul id="tasklist"></ul>
        </td>
        <td align="center" width="700px" id="neworder">
            <table border="1" width="700px">
                <tr>
                    <td align="center">
                        <input type="button" id="addorder" value="New Order" style="font-family: 'Times New Roman'; width: 150px; height: 30px;" />
                    </td>
                </tr>
            </table>
            <br />
            <form id="tblmngment" name="tblmngment" method="post">
                <input type="hidden" id="servicefortable" name="serviceid" />
                <table border="1" width="700px" id="tablemanagment">
                    <tr>
                        <td align="center">Select Table :
                            <select id="custtables" name="tableid" style="width: 200px; padding: 5px; font-family: 'Times New Roman'; font-size: 14px; text-align: center">
                                <option>-- Select Table --</option>
                            </select>
                            &nbsp;&nbsp;&nbsp;
                            <input type="button" id="addtable" value="assign" style="font-family: 'Times New Roman'; width: 150px; height: 30px;" />
                        </td>
                    </tr>
                </table>
            </form>
            <br />
            <form id="tblorder" name="tblorder" method="post">
                <input type="hidden" name="serviceid" />
                <table border="1" width="700px" id="tableorder">
                    <tr>
                        <td width="40%" align="right">Select Dish Catagerty :
                        </td>
                        <td width="60%" align="left">
                            <select id="dshcatagery" style="width: 200px; padding: 5px; font-family: 'Times New Roman'; font-size: 14px; text-align: center">
                                <option>-- Select Dish Catagerty--</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td width="40%" align="right">Select Dish :
                        </td>
                        <td width="60%" align="left">
                            <select id="dshitem" name="sq_item" style="width: 200px; padding: 5px; font-family: 'Times New Roman'; font-size: 14px; text-align: center">
                                <option>-- Select Dish --</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td width="40%" align="right">Customize Dish :
                        </td>
                        <td width="60%" align="left">
                            <div id="dshcustomization"></div>
                        </td>
                    </tr>

                    <tr>
                        <td width="40%" align="right">Dish Quentety:
                        </td>
                        <td width="60%" align="left">
                            <input type="text" id="sq_quentety" name="sq_quentety" style="width: 200px; padding: 5px; font-family: 'Times New Roman'; font-size: 14px;" />
                        </td>
                    </tr>

                    <tr>
                        <td width="40%" align="right"> ExtraNote:
                        </td>
                        <td width="60%" align="left">
                            <textarea name="sq_note" id="sq_note" style="width: 200px; padding: 5px; font-family: 'Times New Roman'; font-size: 14px;"></textarea>
                        </td>
                    </tr>
                    
                    <tr>
                        <td colspan="2" align="center">
                            <input type="button" id="adddish" value="add dish" style="font-family: 'Times New Roman'; width: 150px; height: 30px;" />
                        </td>
                    </tr>

                </table>
            </form>
            <br />
            <form id="tblplcordr" name="tblplcordr" method="post" action="Ordertaking/publishorder">
                <input type="hidden" name="serviceid" />
                <table border="1" width="700px" id="tblplcorder">
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="PLACE ORDER" style="font-family: 'Times New Roman'; width: 150px; height: 30px;" />
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

@section scripts{
    <script type="text/javascript">

        jQuery(document).ready(function () {
            binddishcatagerytodropdown();
        });

        $("input#addorder").click(function () {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/createnewservice",
                success: function (responce) {
                    $("#tasklist").append("<li>Order Service Created :" + responce + "</li>")
                    $("input[name='serviceid']").val(responce);
                    bindtablestodropdown();
                }
            });
        });

        $("input#addtable").click(function () {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/maptabletoservice",
                data: $('#tblmngment').serialize(),
                success: function (responce) {
                    bindtablestodropdown();
                    $("#tasklist").append("<li>Table assigned</li>")
                }
            });
        });

        $("#dshcatagery").change(function () {
            var id = "&dishcatagery=" + $("#dshcatagery").val();
            binddishitemstodropdown(id);
        });

        $("#dshitem").change(function () {
            var id = "&dishid=" + $("#dshitem").val();
            binddishcustomization(id);
        });

        function bindtablestodropdown() {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/bindtable",
                success: function (responce) {
                    $("#custtables").empty();
                    $("#custtables").append($("<option></option>").val("").html("-- Select Table --"));
                    for (var i = 0; i < responce.length; i++) {
                        $("#custtables").append($("<option></option>").val(responce[i].modelid).html(responce[i].modelitem));
                    }
                }
            });
        }

        function binddishcatagerytodropdown() {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/binddishcatagery",
                success: function (responce) {
                    $("#dshcatagery").empty();
                    $("#dshcatagery").append($("<option></option>").val("").html("-- Select Dish Catagerty--"));
                    for (var i = 0; i < responce.length; i++) {
                        $("#dshcatagery").append($("<option></option>").val(responce[i].modelid).html(responce[i].modelitem));
                    }
                }
            });
        }

        function binddishitemstodropdown(dishcatagery) {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/binddishitems",
                data: dishcatagery,
                success: function (responce) {
                    $("#dshitem").empty();
                    $("#dshitem").append($("<option></option>").val("").html("-- Select Dish --"));
                    for (var i = 0; i < responce.length; i++) {
                        $("#dshitem").append($("<option></option>").val(responce[i].modelid).html(responce[i].modelitem));
                    }
                }
            });
        }
                
        function binddishcustomization(dishid) {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/binddishcustomization",
                data: dishid,
                success: function (responce) {
                    $("#dshcustomization").empty();
                    //$("#dshcustomization").append($("<option></option>").val("").html("-- Select Customization --"));
                    for (var i = 0; i < responce.length; i++) {
                        var tr = "<tr><td>"
                        + "<input type='checkbox' name='dsh_custtype' value='"+ responce[i].modelid+"' />" + responce[i].modelitem
                        +"</td><td>"
                        + "<select name='dshcustomizationval' id='dshcustomizationval" + i + "' style='width: 100px; padding: 5px; font-family:Times New Roman; font-size: 14px; text-align: center'>"
                        +"<option>-- Select --</option></select>"
                        + "</td></tr>";
                        binddishcustomizationtvalueodropdown("dshcustomizationval"+i);
                        $("#dshcustomization").append($(tr));
                    }
                }
            });
        }

        function binddishcustomizationtvalueodropdown(drpid) {
            $.ajax({
                type: "POST",
                url: "../Ordertaking/binddishcustomizationvalue",
                success: function (responce) {
                    $("#" + drpid).empty();
                    $("#" + drpid).append($("<option></option>").val("").html("-- Select Value --"));
                    for (var i = 0; i < responce.length; i++) {
                        $("#" + drpid).append($("<option></option>").val(responce[i].modelid).html(responce[i].modelitem));
                    }
                }
            });
        }

        function emptyprocessqueue()
        {
            $("#dshcatagery").val("");
            $("#dshitem").val("");
            $("#sq_quentety").val("");
            $("#sq_note").val("");
            $("#dshcustomization").empty();
        }
        
        $("input#adddish").click(function () {
            alert($('#tblorder').serialize());
            $.ajax({
                type: "POST",
                url: "../Ordertaking/adddishtoservicequeue",
                data: $('#tblorder').serialize(),
                success: function (responce) {
                    $("#tasklist").append("<li> Item  :" + responce + " Added</li>")
                    emptyprocessqueue();
                }
            });
        });

    </script>
}