﻿@model List<e_ordering_system.Models.order>

@{
    ViewBag.Title = "FOS-WAITER";
}
@*<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Waiter Dash</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                Waiter Dashboard
            </li>
            <li></li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Service List</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div class="well">
                    <div class="btn-group">
                        <a href="~/Waiter/NewService" class="btn green" data-toggle="modal">New Service &nbsp;&nbsp;
                            <i class="icon-plus"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="~/Waiter/NewService" class="btn green" data-toggle="modal">New Service &nbsp;&nbsp;
                            <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="accordion scrollable" id="accordion1">
                    @if (Model.Count == 0)
                    {
                        <div class="well">
                            <h4>No order available for you</h4>
                        </div>
                    }
                    else
                    {

                        foreach (var order in Model)
                        {
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <a class="accordion-toggle btn btn-block" data-toggle="collapse" data-parent="#accordion1" href="#@order.serviceid">
                                    @order.serviceid -- 
                                    @foreach (string tbl in @order.assignedtables)
                                    {
                                        <td>@tbl</td>
                                    }
                                </a>
                            </div>
                            <div id=" @order.serviceid" class="panel-collapse collapse">

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <td colspan="4">
                                                <a class="btn purple pull-right" href="~/Waiter/NewService">Add New Item &nbsp;<i class="icon-plus"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Dish Name</th>
                                            <th>Quentety</th>
                                            <th>Extranotes</th>
                                            <th>Status</th>
                                        </tr>
                                        @foreach (var serviceitem in @order.servicelist)
                                        {
                                            <tr class="success">
                                                <td>@serviceitem.dishname</td>
                                                <td>@serviceitem.dishquentety</td>
                                                <td>@serviceitem.extranote</td>
                                                <td>not loded</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}