﻿@model List<e_ordering_system.Models.menu>
@{
    ViewBag.Title = "FOS-WAITER";
}

@*<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">Waiter Dash</h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="icon-home"></i>
                Waiter Dashboard
            </li>
            <li>
                <i class="icon-angle-right"></i>
                New Service
            </li>
            <li class="pull-right"></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>New Service</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    @*<a href="javascript:;" class="reload"></a>*@
                </div>
            </div>
            <div class="portlet-body">
                <div class="well">
                    <div class="btn-group">
                        <a href="~/Waiter" class="btn purple">Service DashBoard &nbsp;&nbsp;
                            <i class="m-icon-swapleft m-icon-white"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="" class="btn green">Add Table &nbsp;&nbsp;
                            <i class="icon-plus"></i>
                        </a>
                    </div>
                </div>

                <div class="accordion scrollable" id="accordion1">
                    @foreach (var menu in @Model)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle btn btn-block" data-toggle="collapse" data-parent="#accordion1" href="#@menu.catageryid">
                                    @menu.catagery
                                </a>
                            </div>
                            <div id="@menu.catageryid" class="panel-collapse collapse">
                                @if (@menu.items.Count == 0)
                                {
                                    <div class="panel-body">
                                        <div class="note note-success">
                                            <p>No items Available in this menu</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="table-responsive">
                                        @foreach (var itm in @menu.items)
                                        {
                                            <form method="post" action="NewService">
                                                <table class="table table-bordered">
                                                    <input type="hidden" value="@itm.modelid" name="dsh_id" />
                                                    <tr class="success">
                                                        <td class="">
                                                            <h4>@itm.modelitem</h4>
                                                        </td>
                                                        <td class="clearfix">
                                                            <button type="submit" class="btn purple pull-right">
                                                                <i class="icon-plus"></i>
                                                            </button>
                                                            <a class="btn default pull-right" href="#">
                                                                <span class="glyphicon glyphicon-cog"></span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form> 
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>

                @*                 <div class="well">
                     <div class="btn-group">
                        <a href="~/Waiter" class="btn purple">Service DashBoard &nbsp;&nbsp;
                            <i class="m-icon-swapleft m-icon-white"></i>
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a href="" class="btn green">Place Order &nbsp;&nbsp;
                            <i class="icon-plus"></i>
                        </a>
                    </div>
                 </div>*@
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            UIGeneral.init();
            FormComponents.init();
        });
    </script>
}